<h2>{{ titulo}}</h2>

<p>Añadir Marca:</p>
<input type="text"  [(ngModel)]="mi_marca" (blur)="onBlur()" >
<button (click)="getMarca()">Mostrar Marca</button>
<button (click)="addMarca()">Añadir Marca</button>

<p>Mi Marca: {{mi_marca}}</p>

<p> Compra las zapatillas de las mejores marcas.</p>
<ul>
    <li *ngFor="let marca of marcas">{{marca}}
        <button (click)="borrarMarca(indice)" >Borrar Marca</button>
    </li>
</ul>

<p>Las Zapatillas disponibles: </p>
<ul>

        <li *ngFor="let deportiva of zapatillas">
        
            {{ deportiva.nombre}} - <strong [class.altoPrecio]="deportiva.precio >= 80"
                                            [ngClass] = "{
                                                        'fondoRojo': deportiva.precio > 100,   
                                                        'subrayado': deportiva.marca == 'Nike'
                                                        }"           
                                    >{{ deportiva.precio}}</strong>
            <span *ngIf="deportiva.precio<=80"
                    [style.background]="deportiva.precio <= 80 ? 'green' : 'transparent'"
                    [style.color]="deportiva.precio <= 80 ? 'white' : 'black'"
                    >¡En oferta!</span>
        
        </li>


    <!--<li>Topper</li>
    <li>Nike</li>
    -->
</ul>

<p>El color de la mayoria de las zapatillas es: </p>
<input type="text" [(ngModel)]="color">

<ul [ngSwitch]="color">
    <li *ngSwitchCase="'yellow'">
        El color es el <span style="background:yellow"> amarillo</span>.
    </li>
    <li *ngSwitchCase="'red'">
        El color es el <span style="background:red"> rojo</span>.
    </li>
    <li *ngSwitchCase="'blue'">
        El color es el <span style="background:blue"> azul</span>.
    </li>
    <li *ngSwitchCase="'orange'">
        El color es el <span style="background:orange"> Naranja</span>.
    </li>
</ul>