.altoPrecio {
    color: gray;
    font-size: 18px;
}

.fondoRojo{
    background: red;
    color: white;
}

.subrayado{
    text-decoration: underline;
}

.activado{
    background: black;
    color: white;
    font-size: 18px;
}